/* Mini reset */

* { margin: 0;
    padding: 0;
}


/* Styles */

body {
    
    width: 100%;
    height: 100vh;
    
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aliceblue;
}



/* bannner styles */

header {
    width: 100%;
    background-color: #75006f;
    color:aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.banner {
    width: 100%;
    text-align: center;
}

.banner img {
    width: 100%;

}


/* navbar styles */

.menu-container {
    width: 100%;
    z-index: 1; /* stops the navbar disappearing behind the banner */    
    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    background-color: aliceblue;

}

#navbar-logo {

    height: 50px;
    margin: 5px;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.navbar a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px 7px;
    border: 2px dashed purple;
    border-radius: 5px;
    color: indigo;

}

.navbar a:hover {
    background-color: indigo;
    color: aliceblue;
    transform: scale(1.2);
}

input.search-bar {
    margin-right: 10px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}

main{
    width: 100%;
}
.middle-container {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-color: aliceblue;
    text-decoration: none;

}

.services-box h3 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px dashed aliceblue;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.services-box h3::before {
    content: "🐱";
}

.services-box {
    
    flex: 1 1 150px;
    height: 250px;
    margin: 20px;
    
    background-color: purple;
    color: aliceblue;
    border: 2px solid indigo;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;

}

.services-box ul {
    list-style: none;
}

/* Read more links */

p.readmore {
    margin-top: 50px; 
}

a.readmore {
    text-decoration: none;
    padding: 3px 7px;
    border: 2px dashed aliceblue;
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.readmore a:hover {
    background-color: indigo;
    transform: scale(1.2);
}



/* Footer styles */
footer {
    width: 100%;
    background-color: aqua;
}

/* Book club cards */
.book-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.book-container img {
    flex: 1 1;
}

/* About article */

.article {
    
    flex: 1 1;
    height: auto;
    margin: 20px;
    /* background-color: purple; */
    color: indigo;
    border: 1px dashed indigo;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-container {
    flex: 1 1 400px;

}

.img-container img {
    width: 100%;
}

div.article-text {
    flex: 1 1 200px;
    margin: 10px;
}


.article-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* 
div.img-container {
    width: 50%;
    flex: 1 1;
}
 */


