body {
    width:100%;
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 0; */
    text-align: center;
    background-color: grey;
}

header {
    background-color: #75006f;
    color: white;
    /* width: 100%; */
    /* padding: 20px 0; */
}

.sticky-menu-container {
    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: aliceblue;
}


#navbar-logo {
    height: 50px;
    margin: 5px;
    /* margin-right: auto; */
}

.navbar {
    margin-right: 10px;

    display: flex;


}




.banner {
    text-align: center;
    /* margin: 20px 0; */
}

.banner img {
    max-width: 100%;
    /* height: auto; */
}

