
body {
    
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 0; */
    text-align: center;
    background-color: grey;
}

.menu-container {
    z-index: 1;
    /* stops the navbar disappearing behind the banner */
    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    background-color: aliceblue;

}

header {
    background-color: #75006f;
    color:aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding-bottom: 10px;
}


#navbar-logo {

    height: 50px;
    margin: 5px;
    /* margin-right: auto; */
}

.navbar {
    /* margin-
        position: sticky;
right: 10px; */

    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    margin: 0px 5px;
    padding: 5px 10px;
    border: 1px dashed purple;
    border-radius: 5px;

}

.navbar a:hover {
    background-color: indigo;
    color: aliceblue;
    transform:scale(1.2);
}

.search-bar {
    margin-right: 10px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-size: 1rem; */
    /* width: 60%; */
}

.middle-container {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: auto;

    background-color: white;

    /* Flexbox alignment properties */
    /* Try: flex-start, center, space-between */
    /* align-items: center; */
    /* Try: flex-start, center, flex-end */

}

.services-box {
    flex: 1 1 200px;
    height: 200px;
    margin: 20px;
    background-color:purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    font-size: 18px;
}



.banner {
    position: relative;
    text-align: center;
    /* margin: 20px 0; */
}

.banner img {
    max-width: 100%;
    /* height: auto; */
}

footer {
    background-color: aqua;
}


